.checked {
  color: orange;
}

.tool_container{
  max-width: 1400px;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }

.text{
  flex-wrap: wrap;
  display:center;
  justify-content:center;
  padding:40px;
}
.toolbody{
  max-width: 1400px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.bodyimg{
  padding:20px;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap:auto;
}